<!-- 記事下 -->
<aside class="buttons">
  <div class="hatena"></div>

  <div class="pocket">
    <a data-pocket-label="pocket" data-pocket-count="horizontal" class="pocket-btn" data-lang="en"></a>
  </div>
  <div class="twitter">
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="@nyarla" data-show-count="true">Tweet</a>
  </div>

  <div class="facebook">
    <div class="fb-like" data-href="{Permalink}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
  </div>

  <div class="google-plus">
    <div class="g-plusone" data-size="medium" data-annotation="inline" data-width="120"></div>
  </div>
</aside>
<!-- end -->

<!-- Sidebar -->
<footer id="informations">
  <p id="copyright">&copy; 2016 <a href="https://nyarla.net/">Naoki OKAMURA</a></p>
  <p id="poweredby">This website is hosting on <a href="http://hatenablog.com/">Hatena Blog Pro</a></p>
</footer>
<!-- end -->

<!-- フッタ -->
<script>
  "use strict";
  document.addEventListener('DOMContentLoaded', function () {
    $('.buttons .hatena').append(
      $('<a>').attr({
        'class':  "hatena-bookmark-butotn",
        'title':  'このエントリーをはてなブックマークに追加',
        'href':   'http://b.hatena.ne.jp/entry/do.kalaclism.com/items' + location.pathname.match(/[a-f0-9]{32}/),
        'data-hatena-bookmark-title':  $('title').val(),
        'data-hatena-bookmark-layout': 'simple-ballon'
      }).append(
        $('<img>').attr({
          src:    'https://b.st-hatena.com/images/entry-button/button-only@2x.png',
          alt:    'このエントリーをはてなブックマークに追加',
          width:  20,
          height: 20,
          style:  'border: none;'
        })
      )
    );
  });
</script>
<script src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
<script src="https://widgets.getpocket.com/v1/j/btn.js?v=1" charset="utf-8" async="async"></script>
<script src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.8" charset="utf-8" async="async"></script>
