@define-mixin content-comment {
  & .comment {
    margin: 1.414rem 0 ;
    padding: 0 ;

    & .entry-comment {
      margin: 1rem 0 ;
      padding: 0 1rem ;
      list-style: none ;
      border: 1px solid $colorBrightGray ;
      border-radius: 2px ;

      & .comment-user-name {
        & img {
          height: 48px ;
          width: 48px ;
          border: 2px solid $colorBrightGray ;
          border-radius: 48px ;
          vertical-align: middle ;
        }

        & .comment-user-id {
          @mixin link-title ;
          @mixin text-headline ;

          font-size: 1.5rem ;
        }
      }

      & .comment-content {
        @mixin content-main ;
        background-color: #FFFFFF ;
      }
    }
  }

  & .leave-comment-title {
    @mixin link-button ;
  }
}
