@import "text/define.css"   ;
@import "widget/border.css" ;
@import "color/define.css"  ;

@define-mixin content-main {
  @mixin text-paragraph ;

  & hr {
    @mixin border-gradient ;
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    @mixin text-headline ;
  }

  & blockquote {
    margin:       1em 0 ;
    padding:      0 1em ;
    border-left:  1px solid $colorBrightGray ;
  }

  & pre {
    padding:          0.5em 1em           ;
    background-color: $colorDarkerGray    ;
    color:            $colorBrighterGray  ;
    border-radius:    2px                 ;
  }

  & code {
    background-color: $colorDarkerGray    ;
    color:            $colorBrighterGray  ;
    border:           none                ;
    border-radius:    2px                 ;
  }

  & img.hatena-fotolife {
    display: block ;
    margin-left: auto ;
    margin-right: auto ;
    border: 1px solid #FFF ;
    border-radius: 1px ;
    box-shadow: 0px 1px 3px $colorBrightGray ;
  }

  & .embed-card {
    min-width: 100% ;
    max-width: 100% ;
  }

  & .hatena-citation {
    text-align: center ;
  }

  & p iframe[src^="https://www.slideshare.net"]:first-child {
    min-width: 100% ;
  }
}

@define-mixin content-comment {
  margin:   1.414em 0 ;
  padding:  0 ;

  & .entry-comment {
    margin:   1em 0 ;
    padding:  0 1em ;

    list-style: none ;
    border: 1px solid $colorBrightGray ;
    border-radius: 2px ;

    & .comment-user-name {
      & img {
        height: 48px ;
        width:  48px ;

        border: 2px solid $colorBrightGray ;
        border-radius: 48px ;
        vertical-align: middle ;
      }

      & .comment-user-id {
        @mixin link-title ;
        @mixin font-serif ;
        font-size: 1.5em ;
      }
    }

    & .comment-content {
      @mixin content-main ;
    }
  }

  & .leave-comment-title {
    @mixin link-button ;
  }
}
