@import "text/define.css" ;
@import "widget/link.css" ;

@define-mixin header-banner {
  margin-left:  auto ;
  margin-right: auto ;
  text-align: center ;

  & #title {
    @mixin text-headline ;
    font-size: calc(1.414 * 2em) ;

    & a {
      @mixin link-title ;
      display: block ;
      padding: 1.414em 0 ;
      letter-spacing: calc( 1 * -0.25rem ) ;
    }
  }

  & #blog-description {
    margin:
      calc( 1.414 * 2em )
      0
      calc( 1.414 * 4em )
      0
    ;
    font-size: 1rem ;
  }
}
