@import "color/define.css";

@define-mixin border-gradient {
  display: block ;
  margin: 1em 0  ;
  height: 1px ;
  border: none  ;
  background-image:
    linear-gradient(45deg, transparent 0%, $colorBrightGray 50%, transparent 100%)
  ;
}
