@import "color/define.css";

@define-mixin link-title {
  text-decoration: none ;

  &:link, &:visited { color: $colorDarkerGray   ; }
  &:hover, &:active { color: $colorBrightGray ; }
}

@define-mixin link-default {
  text-decoration: underline ;

  &:link, &:visited { color: $colorBlue   ; }
  &:hover, &:active { color: $colorGreen  ; }
}

@define-mixin link-button {
  display: inline-block ;
  padding: 0.5em 1em ;
  
  text-decoration: none ;

  &:link, &:visited { color: $colorBlue         ; background-color: transparent ; }
  &:hover, &:active { color: $colorBrighterGray ; background-color: $colorBlue  ; }
}

@define-mixin link-date {
  display: block ;
  width: 6rem ;
  padding: 1.125rem 1rem 0.875rem 1rem ;
  height:       calc( 6 / 1.414 / 2 * 1rem ) ;
  line-height:  calc( 6 / 1.414 / 2 * 1rem ) ;

  text-align: center ;
  text-decoration: none ;

  &:link, &:visited {
    color: $colorGreen ;
  }

  &:hover, &:active {
    color: $colorBrighterGray ;
    background-color: $colorGreen ;
  }
}

