@import "widget/link.css"   ;
@import "widget/border.css" ;

@define-mixin pager {
  position: relative ;
  margin: calc( 1rem * 2 ) 0 ;
  height: 4rem ;

  &::before, &::after {
    @mixin border-gradient ;
    content: '' ;
    width: 100% ;
    position: absolute ;
    margin: 0 ;
  }

  &::before {
    top: 0 ;
  }

  &::after {
    bottom: 0 ;
  }

  & .pager-prev,
  & .pager-next {
    position: absolute ;
    display: block ;
    top: 1rem ;

    & a {
      @mixin link-button ;
    }
  }

  & .pager-prev {
    left: 0 ;
  }

  & .pager-next {
    right: 0 ;
  }
}
