@import "color/define.css";

@define-mixin search-form {
  position: relative ;
  border: 1px solid $colorBrightGray ;
  border-radius: 0 ;
  background-color: #FFFFFF ;

  &:hover {
    border-color: $colorGreen ;
  }

  & input {
    width: auto ;
    height: auto ;
    background: transparent ;
    text-indent: 0 ;
    padding: 0.25rem 0.5rem ;
    outline: none ;
    border: none ;

    &.search-module-input,
    &.search-result-input {
      box-sizing: border-box ;
      width: 100% ;
      padding-right: 3.5rem ;
    }

    &.search-module-button,
    &.search-result-button {
      position: absolute ;
      top: 0 ;
      right: 0 ;
      opacity: 1 ;
    }
  }
}


