@import "text/define.css";

@define-mixin header-toolbar {
  margin-bottom: 2rem ;

  & #blog-title-inner {
    margin-left: auto ;
    margin-right: auto ;
    max-width: calc( 45 + 20 + 2 * 1rem ) ;

    & #title,
    & #blog-description {
      display: inline-block ;
      margin: 0.5rem 0 ;
      vertical-align: middle ;
    }

    & #title {
      @mixin text-headline ;
      font-size: 1.414rem ;
      letter-spacing: calc( 1.414 / 2 / 10 * -1rem ) ;

      & a {
        text-decoration: none ;
      }
    }

    & #blog-description {
      margin-left: 0.5em ;
      font-size: 1rem ;
      font-weight: normal ;
    }
  }

  &::after {
    @mixin border-gradient;
    content: '' ;
    margin-top: 0 ;
  }
}
