@import "font/define.css";

@define-mixin text-paragraph {
  @mixin font-sans-serif ;
  line-height: 1.828em ;
  text-align: justify ;
  font-feature-settings: "pkna" ;
}

@define-mixin text-headline {
  @mixin font-serif ;
  line-height: 1.414em ;
  font-feature-settings: "palt" ;
}

@define-mixin text-code {
  @mixin font-monospace ;
  line-height: 1em ;
  font-feature-settings: initial ;
}

