@import "font/YuGothic.css"      ;
@import "font/HelveticaNeue.css" ;

@define-mixin font-sans-serif {
  font-family:
    "Yu Gothic", "YuGothic",            /* for macOS Sierra or Windows 10 */
    "Noto Sans CJK JP",                 /* for Linux or BSD               */
    -apple-system, BlinkMacSystemFont,  /* for macOS or iOS   (fallback)  */
    "Meiryo", "Arial",                  /* for Windows        (fallback)  */
    "TakaoPGothic", "VL PGothic",       /* for Linux or *BSD  (fallback)  */
    sans-serif
  ;
}

@define-mixin font-serif {
  font-family:
    "Yu Mincho", "YuMincho",            /* for macOS Sierra or Windows 10 */
    "TakaoPMimcho", "IPAPMincho",       /* for Linux or BSD               */
    "HGP明朝E", "ＭＳ Ｐ明朝",          /* for Windows        (fallback)  */
    "Times New Roman",                  /* for English        (fallback)  */
    serif
  ;
}

@define-mixin font-monospace {
  font-family:
    "Ricty Discord", "Ricty Diminished Discord",
    "Ricty",         "Ricty Diminished",
    monospace
  ;
}

