@font-face {
  font-family: "Helvetica Neue" ;
  src:         local("Helvetica Neue Regular");
  font-weight: 100 ;
}

@font-face {
  font-family: "Helvetica Neue" ;
  src:         local("Helvetica Neue Regular");
  font-weight: 200 ;
}

