@encoding "UTF-8";
@import   "normalize.css";

/* colors */
$colorBackground: #fefdfc ;
$colorText:       #2c2b2a ;
$colorBrightText: #b3b2b1 ;

$colorLink:       #2c2bb1 ;
$colorLinkActive: #2cb22a ;
$colorHighlight:  #fefd2a;

/* fonts */
$fontFamilySerif:     "游明朝", "Yu Mincho", "YuMincho", serif  ;
$fontFamilySansSerif: "游ゴシック", "Yu Gothic", "YuGothic", sans-serif ;

/* size */
$baseSize:        1.414 ;
$baseSizeSecond:  1     ;
$baseSizeHalf:    0.707 ;

$textLineHeight:  1.828 ;

/* column */
$columnSizeMain:  45  ;
$columnSizeSub:   20  ;
$columnSizeTotal: calc( $columnSizeMain + $columnSizeSub + 2 ) ;
$columnSizeMax:   calc( $columnSizeTotal + 9 ) ;

/* mixins */
@define-mixin font-sans-serif {
  font-family: $fontFamilySansSerif ;
  font-weight: 500 ;
}

@define-mixin font-serif {
  font-family: $fontFamilySerif ;
  font-weight: bold ;
}

@define-mixin center-box {
  margin: 0 auto ;
  max-width: $(columnSizeTotal)rem ;
}

@define-mixin border-gradient {
  display: block ;
  height: 1px ;
  background-image: linear-gradient(45deg, transparent 0%, $colorBrightText 50%, transparent 100%) ;
}

@define-mixin link-color-date {
  & {
    text-decoration: none ;
    padding: 1rem ;

    &:link, &:visited {
      color: $colorLinkActive ;
    }
    
    &:hover, &:active {
      color: $colorBackground ;
      background-color: $colorLinkActive ;
    }
  }
}

@define-mixin link-color-item {
  & {
    text-decoration: none ;
    padding: 0.5em 1em ;

    &:link, &:visited {
      color: $colorLink ;
    }
    
    &:hover, &:active {
      color: $colorBackground ;
      background-color: $colorLink ;
    }
  }
}

@define-mixin link-color-title {
  & {
    text-decoration: none ;

    &:link, &:visited { color: $colorText ; }
    &:hover, &:active { color: $colorBrightText ; }
  }
}

/* global */
html, body {
  @mixin font-sans-serif ;
  background-color: $colorBackground ;
  color: $colorText ;
}

a {
  &:link, &:visited { color: $colorLink ; }
  &:hover, &:active { color: $colorLinkActive ; }
}

.user-name-paren, .user-name-hatena-id {
  display: none ; 
}

/* header */
#blog-title {
  margin-bottom: 4rem ;

  & #blog-title-inner {
    @mixin center-box ;

    & #title, & #blog-description {
      display: inline-block ;
    }

    & #title {
      @mixin font-serif ;
      font-size: $(baseSize)rem ;
      letter-spacing: calc($(baseSizeHalf)rem / -10) ;

      & a {
        text-decoration: none ;
      }
    }

    & #blog-description {
      font-size: $(baseSizeSecond)rem ;
      font-weight: normal ;
    }

  }

  &::after {
    @mixin border-gradient ;
    content: '' ;
  }
}

/* contents (entries) */
#content {
  & #content-inner {
    @mixin center-box ;
    position: relative ;

    & .entry {
      position: relative ;
      max-width: $(columnSizeMain)rem ;
      margin-bottom: 4rem ;

      & .entry-date {
        margin: 0 0 -2.6rem -8rem ;

        & a {
          @mixin link-color-date ;
          display: inline-block ; 
        }
      }

      & .entry-title {
        margin: 0 0 1rem 0;
        letter-spacing: calc( $(baseSizeHalf)rem / -10 ) ;
        & a {
          @mixin font-serif ;
          @mixin link-color-title ;
        }

        &::after {
          @mixin border-gradient ;
          content: '' ;
          margin : 1rem 0 ;
        }
      }

      & .entry-categories, & .entry-header-menu {
        & a {
          @mixin link-color-item ;
          font-size: 90% ;
          line-height: 1em ;
        }
      }

      & .entry-categories {
        text-align: right ;
      }

      & .entry-header-menu {
        position: absolute ;
        top: -1em ;
        right: 0 ;
      }

      & .entry-content {
        line-height: $(textLineHeight)em ;
        text-align: justify ;

        & h1,
        & h2,
        & h3,
        & h4,
        & h5,
        & h6 {
          @mixin font-serif ;
          margin: 1em 0 ;
        }

        & pre.code,
        & pre code,
        & code {
          background-color: $colorText ;
          color: $colorBackground ;
          border: none ;
          border-radius: 0 ;
        }

        & pre code {
          display: block ; 
        }
      }

      & .entry-footer {
        & .entry-footer-section,
        & .hatena-star-container {
          display: inline-block ; 
        }

        & .entry-footer-html {
          margin: calc($(baseSize)rem * 2) 0 ;

          & .ads,
          & .buttons {
            display: inline-block ;
          }

          & .ads {
            width : 336px ;
            height: 280px ;
          }

          & .buttons {
            width : 20rem ;
            padding-left: 2rem ;
            padding-bottom: 110px ;

            & div {
              float: left ;
              margin: 0 0.5rem 0.25rem 0 ; 
            }

            & div.twitter {
              clear: left ;
            }
          }
        }

        & .comment-box {
          clear: both ;

          & .comment {
            padding: 0 ;

            & .entry-comment {
              display: block ;
              padding: 0 1rem ; 
              border: 1px solid $colorBrightText ;
              border-radius: 2px ;
              background-color: #FFFFFF ;

              & .comment-user-name {
                & .hatena-id-icon {
                  width: 32px ;
                  height: 32px ;
                  border: 2px solid $colorBrightText ;
                  vertical-align: middle ;
                }

                & .comment-user-id {
                  @mixin link-color-title ;
                  @mixin font-serif ;
                  display: inline-block ;
                  font-size: 24px ;
                  vertical-align: middle ;
                }
              }

              & .comment-content {
                line-height: $(textLineHeight)em ;
              }
            }
          }
          & .leave-comment-title {
            @mixin link-color-item ;
          }
        }
      }
    }

    & .pager {
      position: relative ;
      margin: calc($(baseSize)rem * 2) 0 ;
      height: 5rem ; 
      max-width: $(columnSizeMain)rem ;

      &::before, &::after {
        @mixin border-gradient ;
        position: absolute ;
        content: '' ;
        width: 100% ;
      }

      &::before {
        top: 1rem ;
      }

      &::after {
        bottom: 1rem ;
      }

      & .pager-prev,
      & .pager-next {
        position: absolute ;
        top: 2rem ;
        display: block ;
        width: 50% ;

        & a {
          @mixin link-color-item ;
        }
      }

      & .pager-prev {
        left:  0 ;
        text-align: left ;
      }

      & .pager-next {
        right: 0 ;
        text-align: right ;
      }
    }

    & #box2 {
      position: absolute ;
      top: 0 ;
      right: 0 ;
      max-width: $(columnSizeSub)rem ;

      & .hatena-module-profile {
        & .hatena-module-title {
          display: none ;
        }

        & .hatena-module-body {
          & .profile-icon-link {
            text-decoration: none ;

            & img {
              border: 3px solid $colorBrightText ;
              vertical-align : middle ;
            }
          }

          & .id {
            & a {
              @mixin font-serif ;
              @mixin link-color-title ;
              font-size: 2rem ;
              vertical-align: middle ;

              &.hatena-id-link {
                padding-left: 1rem ;
              }
            }
          }

          & .hatena-follow-button-box {
            display: inline-block ;
            vertical-align: middle ;
          }
        }
      }

      & .hatena-module-search-box {
        margin: $(baseSize)rem 0 ;

        & .hatena-module-title {
          display: none ;
        }

        & .hatena-module-body {
          & .search-form {
            position: relative ;
            border: 1px solid $colorBrightText ;

            &:hover {
              border-color: $colorLinkActive ;
            }

            & input {
              padding: 0.25rem 0.5rem ; 
              border: none ;
              background-color: transparent ;
              outline: none ;

              &.search-module-input {
                box-sizing: border-box ;
                padding-right: 3rem ;
                width: 100% ;
              }

              &.search-module-button {
                position: absolute ;
                top: 0 ;
                right: 0 ;
              }
            }
          }
        }
      }

      & .hatena-module-archive {
        & .hatena-module-title {
          & a {
            @mixin font-serif ;
            @mixin link-color-title ;
          }
        }

        & .hatena-module-body {
          & .archive-module-button {
            display: inline-block ;
            font-size: $(baseSizeHalf)rem ;
            opacity: 1 ;
            color: $colorBrightText ;
          }

          & .hatena-urllist {
            & a {
              text-decoration: none ;

              &:hover, &:active {
                text-decoration: underline ;
              }
            }
          }
        }
      }

      & .hatena-module-category {
        & .hatena-module-title {
          @mixin font-serif ;
        }

        & .hatena-module-body {
          & .hatena-urllist {
            padding: 0 ;

            & li {
              margin: $(baseSizeHalf)rem 0 ;
              list-style: none ;
              
              &::before {
                display: inline ;
                content: '●' ;
                margin-right: -1.5em ;
                font-size: $(baseSizeHalf)rem ;
                color: $colorBrightText ;
              }

              & a {
                @mixin link-color-item ;
              }
            }
          }
        }
      }

      & .hatena-module-html {
        & .hatena-module-title {
          @mixin font-serif ;
        }

        & .hatena-module-body {
          & a {
            text-decoration: none ;

            &:hover, &:active {
              text-decoration: underline ;
            }
          }
        }
      }
    }
  }
}

.page-index {
  & #content {
    & #content-inner {
      & .entry {
        & .comment-box {
          display: none ; 
        }
      }
    }
  } 
}

.page-archive {
  & span.highlight {
    border: none ;
    background-color: transparent ;
    background-image: linear-gradient(transparent 30%, $colorHighlight 0%) ;
    margin: 0 ;
    padding: 0 ;
  }


  & .search-result {
    @mixin center-box ;

    & .archive-heading {
      @mixin font-serif ;
      max-width: $(columnSizeMain)rem ;
    }

    & .search-result-form {
      border: 1px solid $colorBrightText ;
      border-radius: 0 ;
      max-width: $(columnSizeMain)rem ;
      min-width : $(columnSizeMain)rem ;
      padding: 0.5rem 0.25rem ;
      margin: $(baseSize)rem 0 ;

      &:hover {
        border-color: $colorLinkActive ;
      }

      & input {
        border: none ;
        background-color: transparent ;
        
        &.search-result-input {
          width: 100% ;
          padding-right: 3rem ;
          box-sizing: border-box ; 
        }

        &.search-result-button {
          text-indent: 0px ;
          background: none ;
          width: auto ;
          height: auto ;
          top: 0.5rem ;
          right: 0.25rem ;
        }
      }
    }
  }
    
  & #top-box {
    @mixin center-box ;
    margin-top: $(baseSize)rem ;
    margin-bottom: $(baseSize)rem ;

    & .breadcrumb {
      max-width: $(columnSizeMain)rem ;

      & a {
        @mixin link-color-item ;
      }

      & .breadcrumb-gt {
        color: transparent ;

        &::after {
          display: inline ;
          margin: 0 -0.25rem 0 -1.5rem ;
          content: '|ω・)っ' ;
          color: $colorBrightText ;
          font-size: $(baseSizeHalf)rem ;
        }
      }
    }
  }

  & .archive-entry {
    max-width: $(columnSizeMain)rem ;
    margin-bottom: 2rem ;

    & .archive-entry-header {
      & .date {
        margin-bottom: -2.6rem ;
        margin-left: -8rem ;

        & a {
          @mixin link-color-date ;
          display: inline-block ;
        }
      }

      & .entry-title {
        margin: 0 0 1rem 0 ;
        letter-spacing: calc( $(baseSizeHalf)rem / -10 ) ;

        & a {
          @mixin font-serif ;
          @mixin link-color-title ; 
        }

        &::after {
          @mixin border-gradient ;
          content: '' ;
          margin : 1rem 0 ;
        }
      }

    }
    & .categories {
      text-align: right ;

      & a {
        @mixin link-color-item ;
        font-size: 90% ;
        line-height: 1em ;
      }
    }

    & .entry-description {
      line-height: $(textLineHeight)em ;
      text-align: justify ;
    }
  }
}

@media (max-width: 76rem ) {
  #blog-title {
    & #blog-title-inner {
      max-width: $(columnSizeMain)rem ;
    } 
  }

  #content {
    & #content-inner {

      & .search-result,
      & .archive-entries {
        max-width: $(columnSizeMain)rem ;
        margin-left: auto ;
        margin-right: auto ;
      }

      & .archive-entries {
        & .archive-entry {
          & .archive-entry-header {
            & .date {
              margin: $(baseSize)rem auto ;
              text-align: center ;
            }
          }
        }
      }

      & .entry {
        margin-left: auto ;
        margin-right: auto ;
        & .entry-header {
          & .entry-date {
            margin: calc($(baseSize)rem * 2) 0  ;
            text-align: center ;
          }
        }
      }

      & .pager {
        margin-left: auto ;
        margin-right: auto ;
      }

      & #box2 {
        position: static ;
        margin: 0 auto ;
        max-width: $(columnSizeMain)rem ;

        & .hatena-module-category {
          & .hatena-urllist {
            & li {
              display: inline-block ;
            
              &::before {
                display: none !important; 
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 35.5rem) {
  #blog-title {
    & #blog-title-inner {
      & #title,
      & #blog-description {
        display: block ;
        text-align: center ;
      }

      & #blog-description {
        font-size: 80% ;
      }
    }
  }

  #content {
    & #content-inner {
      & .search-result {
        margin: 0 $(baseSize)rem ;

        & .search-result-form {
          max-width: auto ;
          min-width: 100% ;
        }
      }
  
      & .entry {
        margin: 0 $(baseSize)rem ;

        & .entry-title {
          font-size: $(baseSize)rem ;
        }

        & .entry-categories {
          text-align: center ;

          & a {
            display: inline-block ;
          }
        }

        & .entry-content {
          & h1 { font-size: $(baseSize)rem ; }
          & h2 { font-size: 1.0707rem ; }
          & h3 { font-size: 1rem ; }
          & h4 { font-size: 0.9293rem ; }
          & h5 { font-size: 0.8565rem ; }
          & h6 { font-size: $(baseSizeHalf)rem ; }

          & ul {
            padding-left: 1rem ;
          }
        }

        & .entry-footer {
          & .entry-footer-html {

            margin : $(baseSize)rem 0 ; 

            & .ads {
              width: 100% ;
              height: auto ;
              margin-bottom: $(baseSize)rem ;
            }

            & .buttons {
              padding: 0 ;
            }
          }
        }
      }

      & .pager {
        height: 7rem ;

        & .pager-prev,
        & .pager-next {
          width: 100% ;
          font-size: 80% ;
          text-align: center ;
        }

        & .pager-next {
          top: auto ;
          bottom: 2rem ;
          right: 0 ;
        }
      }

      & #box2 {
        margin: 0 $(baseSize)rem ;

        & .hatena-module-category {
          & .hatena-module-body {
            text-align: center ;
          }
        }
      }
    }
  }

  .page-archive {
    & #top-box {
      text-align: center ;
    }

    #content {
      & #content-inner {
        & .archive-entry {
          margin: 0 $(baseSize)rem ;

          & .entry-title {
            font-size: $(baseSize)rem ;
          }

          & .categories {
            text-align: center ;

            & a {
              display: inline-block ;   
            }
          }

          & .archive-entry-body {
            margin-bottom: 2rem ;
          }
        }
      }
    }
  }
}
