@encoding "UTF-8";
@import "normalize.css" ;

@import "color/define.css"    ;
@import "font/define.css"     ;
@import "text/define.css"     ;

@import "widget/toolbar.css"  ;
@import "widget/border.css"   ;
@import "widget/link.css"     ;
@import "widget/pager.css"    ;
@import "widget/search.css"   ;

@import "content/main.css"    ;
@import "content/comment.css" ;

html, body {
  @mixin font-sans-serif ;
  width: 100% ;
  background-color: $colorBrighterGray ;
  color: $colorDarkerGray ;
}

a {
  @mixin link-default ;
}

.user-name-paren,
.user-name-hatena-id {
  display: none ;
}

#blog-title {
  @mixin header-toolbar ;
}

#content {
  & #content-inner {
    position: relative ;
    margin-left: auto ;
    margin-right: auto ;
    max-width: calc( 45 + 20 + 2 * 1rem ) ;

    & .entry {
      position: relative ; 
      max-width: 45rem ;
      margin-bottom:  4rem ;

      & .entry-date {
        & a {
          @mixin link-date ;
          position: absolute ;
          top: calc( 1.414 / 2 * -1rem ) ;
          left: -9rem ;
        }
      }

      & .entry-title {
        margin: 0 ;
        & a {
          @mixin text-headline ;
          @mixin link-title ;

          letter-spacing: calc( 1.414 / -0.25 ) ;
        }
      }

      & .entry-categories {
        text-align: right ;
        & a {
          @mixin link-button ;
        }
      }

      & .entry-header-menu {
        & a {
          @mixin link-button ;
          display: block ;
          position: absolute ;
          width: 6rem ;
          padding-right: 1rem ;
          padding-right: 1rem ;
          top: calc( 1.414rem + 2rem) ;
          left: -9rem ;
          text-align: right ;
        }
      }

      & .entry-content {
        @mixin content-main ;
      }

      & .entry-footer {
        & .entry-footer-section,
        & .hatena-start-container {
          display: inline-block ;
        }

        & .comment-box {
          @mixin content-comment ;
        }
      }
    }

    & .pager {
      @mixin pager ;
      max-width: 45rem ;
    }
  }

  & #box2 {
    position: absolute ;
    top: 0 ;
    right: 0 ;
    max-width: 20rem ;

    & .hatena-module {
      & .hatena-module-title {
        @mixin text-headline ;
        font-weight: bold ;
      }

      & .hatena-module-body {
        line-height: 1.414rem ;
      }
    }

    & .hatena-module-profile {
      & .hatena-module-title {
        display: none ;
      }
      
      & .profile-icon-link {
        text-decoration: none ; 

        & img {
          background-color: #FFFFFF ;
          border: 1px solid $colorBrightGray ;
          border-radius: 1px ;
          vertical-align: middle ;
        }
      }

      & .id {
        @mixin text-headline ;
        font-size: 2rem ;
        padding-left: 0.5rem ;

        & a {
          @mixin link-title ;
          font-weight: bold ;
          vertical-align: middle ;
          line-height: 64px ;
        }
      }

      & .profile-description {
        & p {
          margin: 0 ;
        }
      }

      & .hatena-follow-button-box {
        display: inline-block ;
        vertical-align: middle ;
      }
    }

    & .hatena-module-search-box {
      & .hatena-module-title {
        display: none ;
      }

      & .search-form {
        @mixin search-form ;
        margin: 0.5rem 0 1rem 0 ;
      }
    }

    & .hatena-module-links,
    & .hatena-module-recent-entries,
    & .hatena-module-archive {
      & .hatena-module-title {
        & a {
          @mixin link-title ;

          &:hover, &:active {
            text-decoration: underline ;
          }
        }
      }
    }

    & .hatena-module-links,
    & .hatena-module-recent-entries {
      & .hatena-module-body {
        & .hatena-urllist {
          padding-left: 0 ;

          & li {
            list-style: none ; 
            border-left: 1px solid $colorBrightGray ;
            margin: 0.25em 0 0.25em 0.5em ;
            padding: 0.125em 0 0.125em 0.5em ;
            
            & a {
              &:link, &:visited {
                text-decoration: none ;
              }

              &:hover, &:active {
                text-decoration: underline ; 
              }
            }
          }
        }
      }
    }

    & .hatena-module-archive {
      & .hatena-module-body {
        & .archive-module-button {
          font-size: calc( 1 / 1.414 * 1rem ) ;
          opacity: 1 ;
          color: $colorBrightGray ;
        }

        & .archive-module-month {
          margin-left: 2rem ;
        }
      }
    }
  }
}

.page-index {
  & #content {
    & #content-inner {
      & .entry {
        & .comment-box {
          display: none ;
        }
      }
    }
  }
}

.page-archive {
  & #content #content-inner {
    & span.highlight {
      background-color: none ;
      background-image: linear-gradient(transparent 39%, $colorYellow 0%) ;
      border: none ;
      margin: 0 ;
      padding: 0 ;
    }

    & .archive-heading {
      display: none ;
    }

    & .search-result {
      & .search-result-form {
        @mixin search-form ;
        max-width: 45rem ;
      }
    }

    & .archive-entries {
      max-width: 45rem ;

      & .archive-entry {
        position: relative ;
        margin: calc( 1.414 * 2rem ) 0 ;

        & .date {
          & a {
            @mixin link-date ;
            position: absolute ;
            top: calc( 1.414 / 2 * -1rem ) ;
            left: -9rem ;
          }
        }

        & .entry-title {
          & a {
            @mixin text-headline ;
            @mixin link-title ;
          }
        }

        & .categories {
          text-align: right ;
          & a {
            @mixin link-button ;
          }
        }

        & .entry-thumb-link {
          & .entry-thumb {
            margin: 1rem ;
            border: 1px solid $colorBrightGray ;
            border-radius: 1px ;
          }
        }

        & .archive-entry-body {
          & .entry-description {
            @mixin content-main ;
          }
        }
      }
    }
  }
}

@media ( max-width: 87rem ) {
  #blog-title {
    & #blog-title-inner {
      max-width: 45rem ;
    }
  }

  #content #content-inner {
    & .search-result,
    & .archive-entries {
      max-width: 45rem ;
      margin-left: auto ;
      margin-right: auto ;
    }

    & .entry-date,
    & .date {
      & a {
        position: static !important;
        margin: calc( 1.414 * 2rem ) auto !important;
      }
    }

    & .entry {
      margin-left: auto ;
      margin-right: auto ;
    }

    & .pager {
      margin-left: auto  ;
      margin-right: auto ;
    }

    & #box2 {
      position: static ;
      margin-left: auto ;
      margin-right: auto ;
      max-width: 45rem ;
    }
  }
}

@media ( max-width: 45rem ) {
  #blog-title {
    & #blog-title-inner {
      & #title,
      & #blog-description {
        display: block ;
        text-align: center ;
      }

      & #blog-description {
        font-size: 80% ;
      }
    }
  }

  #content {
    & #content-inner {
      margin: 0 1rem ;

      & .search-result-form {
        max-width: auto ;
        min-width: 100% ;
      }

      & .entry .entry-title,
      & .archive-entry .entry-title {
        font-size: 1.414rem ;
      }

      & .entry .entry-categories,
      & .archive-entry .categories {
        text-align: center ;

        & a {
          display: inline-block ;
        }
      }

      & .entry-content {
        & h1,
        & h2,
        & h3,
        & h4,
        & h5,
        & h6 {
          font-size: 1em ;
          font-weight: bold ;
        }

        & ul,
        & ol {
          padding-left: 1rem ;
        }
      }

      & .pager {
        height: 7rem ;

        & .pager-prev,
        & .pager-next {
          width: 100% ;
          font-size: 80% ;
          text-align: center ;
        }

        & .pager-next {
          top: auto ;
          bottom: 1rem ;
          right: 0  ;
        }
      }
    }
  }
}
