@encoding "UTF-8";

@import "normalize.css";

@import "color/define.css"    ;
@import "font/define.css"     ;
@import "text/define.css"     ;

@import "widget/border.css"   ;
@import "widget/link.css"     ;
@import "widget/banner.css"   ;
@import "widget/pager.css"    ;
@import "widget/search.css"   ;

@import "content/main.css"    ;
@import "content/comment.css" ;

html, body {
  @mixin            font-sans-serif     ;
  width:            100%                ;
  background-color: $colorBrighterGray  ;
  color:            $colorDarkerGray    ;
}

a {
  @mixin link-default ;
}

.user-name-paren,
.user-name-hatena-id {
  display: none ;
}

#blog-title {
  @mixin header-banner ;
}

#content {
  margin-left:  auto ;
  margin-right: auto ;
  max-width:    45em ;

  & .entry {
    position: relative ;

    & .entry-date {
      & a {
        @mixin link-date ;
        position: absolute ;
        top: calc( 1.414 / 2 * -1rem ) ;
        left: -9rem ;
      }
    }

    & .entry-title {
      & a {
        @mixin text-headline ;
        @mixin link-title ;

        letter-spacing: calc( 1.414 / -0.25 ) ;
      }
    }

    & .entry-categories {
      text-align: right ; 
      & a {
        @mixin link-button ; 
      }
    }

    & .entry-header-menu {
      & a {
        @mixin link-button ;
        display: block ;
        position: absolute ;
        top: 1rem ;
        right: calc(1rem * -5) ;
      }
    }

    & .entry-content {
      @mixin content-main ;
    }

    & .entry-footer {
      & .entry-footer-section,
      & .hatena-star-container {
        display: inline-block ;
      }

      & .comment-box {
        @mixin content-comment ;
      }
    }
  }


  & .pager {
    @mixin pager ; 
  }

  & #box2 {
    & .hatena-module {
      & .hatena-module-title {
        @mixin text-headline ;
        font-weight: bold ;
      }

      & .hatena-module-body {
        line-height: 1.414rem ;
      }
    }

    & .hatena-module-profile {
      & .hatena-module-title {
        display: none ;
      }

      & .hatena-module-body {
        & .profile-icon-link {
          text-decoration: none ;
          
          & img {
            background-color: #FFF ;
            border: 4px solid $colorBrightGray ;
            border-radius : 64px ; 
            vertical-align: middle ; 
          }
        }

        & .id {
          @mixin text-headline ;
          font-size: 2rem ;
          padding-left: 0.5rem ;

          & a {
            @mixin link-title ;
            vertical-align: middle ;
            line-height: 64px ;
            padding: 8px 0 0 0  ;
          }
        }

        & .profile-description {
          @mixin content-main ;
        }

        & .hatena-follow-button-box {
          display: inline-block ;
          vertical-align: middle ;
        }
      }
    }

    & .hatena-module-search-box {
      & .hatena-module-title {
        display: none ;
      }

      & .search-form {
        @mixin search-form ;
        margin: 1rem 0 ;
      }
    }
  }
}

.page-archive {
  & #top-box {
    margin-left: auto ;
    margin-right: auto ;

    & .breadcrumb {
      & a {
        @mixin link-button ;
      }
    }
  }

  & span.highlight {
    background-color: transparent ;
    background-image: linear-gradient(transparent 39%, $colorYellow 0%) ;
    border: none ;
    margin: 0 ;
    padding: 0 ;
  }

  & .archive-heading {
    display: none ;
  }

  & .search-result {
    & .search-result-form {
      @mixin search-form ;
      max-width: 100% ;
    }
  }

  & .archive-entries {
    & .archive-entry {
      position: relative ;
      margin: calc(1.414 * 2rem) 0 ;

      & .date {
        & a {
          @mixin link-date ;
          position: absolute ;
          top: calc( 1.414 / 2 * -1rem ) ;
          left: -9rem ;
        }
      }

      & .entry-title {
        & a { 
          @mixin text-headline ;
          @mixin link-title ;
        }
      }

      & .categories {
        text-align: right ;
        & a {
          @mixin link-button ;
        }
      }

      & .entry-thumb-link {
        & .entry-thumb {
          margin-right: 1rem ;
          border: 1px solid $colorBrightGray ;
          border-radius: 1px ;
        }
      }

      & .archive-entry-body {
        & .entry-description {
          @mixin content-main ;
        }
      }
    }
  }
}

.page-about {
  & #blog-title,
  & #box2 {
    display: none ;
  }

  & .entry-content {
    @mixin content-main ;

    & p:first-child {
      text-align: center ;

      & img {
        width: 256px ;
        height: 256px ;
      }

      & + h1 {
        text-align: center ;
      }
    }
  }
}

@media ( max-width: 64rem ) {
  #content {
    & .entry .entry-date,
    & .archive-entries .date {
      & a {
        position: static ;
        margin: calc( 1.414 * 2rem ) auto ;
      }
    }
  }
}

@media ( max-width: 45rem ) {
  #blog-title {
    & #title {
      font-size: 1.414rem ;
    }

    & #blog-description {
      font-size: calc( 1.414 / 2 * 1rem ) ;
      margin: 1.414rem auto ;
    }
  }

  #content {
    padding: 0 1.414rem ;

    & .entry-date,
    & .date {
      & a {
        margin-top: 1.414rem ;
        margin-bottom: 1.414rem ;
      }
    }
  
    & .entry-title {
      font-size: 1.414rem ;
    }

    & .entry .entry-content,
    & .archive-entry .entry-description {
      font-size: 90% ;
      line-height: calc( 1.828 * 0.9 * 1em ) ;

      & h1,
      & h2,
      & h3,
      & h4,
      & h5,
      & h6 {
        font-size: 1em ;
        font-weight: bold ;
      }

      & ul,
      & ol {
        padding-left: 1.5em ;
      }
    }
  }
}
