@encoding "utf-8";
@import   "normalize.css";

/* colors */
$colorText:             #2c2b2a ;
$colorBrightText:       #b3b2b1 ;
$colorBackground:       #fefdfc ;
$colorBrightBackground: #FFFFFF ;

$colorHighlight:        #fefd2a ;

$colorLink:       #2c2bb1 ;
$colorLinkActive: #2cb22a ;


/* sizes */
$baseSize:      1.414   ;
$baseSizeHalf:  0.0707  ;

$textLineHeight: 1.828  ;

$columnSizeMain:  45 ;
$columnSizeSub:   20 ;
$columnSizeDate:   9 ;
$columnSizeTotal: 67 ;
$columnSizeMax:   76 ;

/* fonts */
$fontFamilySerif:     "游明朝", "Yu Mincho", "YuMincho", serif  ;
$fontFamilySansSerif: "游ゴシック", "Yu Gothic", "YuGothic", sans-serif ;

/* mixin */
@define-mixin font-serif {
  font-family: $fontFamilySerif ;
  font-weight: bold ;
}

@define-mixin font-sans-serif {
  font-family: $fontFamilySansSerif ;
  font-weight: 500 ;
}

@define-mixin border-gradient {
  height: 1px ;
  border: none ;
  background-image: linear-gradient(45deg, transparent 0%, $colorBrightText 50%, transparent 100%) ;
}

@define-mixin link-color-title {
  & {
    text-decoration: none ;
  }

  &:link, &:visited { color: $colorText ; } 
  &:hover, &:active { color: $colorBrightText ; }
}

@define-mixin link-color-item {
  & {
    text-decoration: none ;
    padding: 0.5rem 1rem ; 
  }

  &:link, &:visited { color: $colorLink ; }
  &:hover, &:active { color: $colorBackground ; background-color: $colorLink ; }
}

@define-mixin link-color-date {
  & {
    display: inline-block ;
    text-decoration: none ; 
    padding: $(baseSize)rem  ;
  }

  &:link, &:visited { color: $colorLinkActive ; }
  &:hover, &:active { color: $colorBackground ; background-color: $colorLinkActive ; }
}

@define-mixin center-box {
  margin-left: auto ;
  margin-right: auto ;
  max-width: $(columnSizeTotal)rem ;
}

/* global */
html, body {
  @mixin font-sans-serif ;
  background-color: $colorBackground ;
  color: $colorText ;
}

a {
  &:link, &:visited { color: $colorLink ; } 
  &:active, &:hover { color: $colorLinkActive ; }
}

.user-name-hatena-id, .user-name-paren {
  display: none ;
}

/* header */
#blog-title {
  @mixin center-box ;
  text-align: center ;

  & #title {
    @mixin font-serif ;
    font-size: 3rem ;
    margin-top: $(baseSize)em ;
    margin-bottom: $(baseSize)em ;

    & a {
      @mixin link-color-title ;
    }
  }

  & #blog-description {
    margin: calc( $(baseSize)rem * 3 ) 0 ;
    font-size: 1rem ;
  }
}

#content {
  & #content-inner {
    @mixin center-box ;
    position: relative ;

    & .entry {
      position: relative ; 
      max-width: $(columnSizeMain)rem ;
      margin-bottom: calc($(baseSize)rem * 2) ;

      & .entry-date {
        margin-left: -$(columnSizeDate)rem ;
        margin-bottom: calc( ( $(baseSize)rem + 0.75 ) * -2);
        & a {
          @mixin link-color-date ;
        }
      }

      & .entry-title {
        @mixin font-serif ;
        letter-spacing: -$(baseSizeHalf)rem ;

        & a {
          @mixin link-color-title ;
        }
      }

      & .entry-header-menu {
        position: absolute ;
        top: -1rem ;
        right: 0 ;
        & a {
          @mixin link-color-item ;
          font-size: 90% ;
        }
      }

      & .entry-content {
        letter-spacing: calc( -$(baseSizeHalf)rem / 2 );
        line-height: $(textLineHeight)em ;
        text-align: justify ;

        & h1,
        & h2,
        & h3,
        & h4,
        & h5,
        & h6 {
          @mixin font-serif ;
          line-height: $(textLineHeight)em ;
        }

        & hr {
          @mixin border-gradient ;
        }

        & .embed-card {
          min-width: 100% ;
          max-width: 100% ; 
        }

        & .itunes-embed {
          border-radius: 3px ;
          background-color: $colorBrightBackground ;
        }

        & .hatena-citation {
          text-align: center ;
        }
      }

      & .entry-footer {
        & .entry-footer-section,
        & .hatena-star-container {
          display: inline-block ;
          margin: 0 0.25rem 0 0 ;
        }

        & .customized-footer {
          & .entry-footer-html {
            & .ads {
              margin: calc($(baseSize)rem * 2) 0 ;
              text-align: center ; 
            }
          }
        }

        & .comment-box {
          clear: both ;

          & .comment {
            padding: 0 ;

            & .entry-comment {
              display: block ;
              padding: 0 1rem ; 
              border: 1px solid $colorBrightText ;
              border-radius: 2px ;
              background-color: #FFFFFF ;

              & .comment-user-name {
                & .hatena-id-icon {
                  width: 32px ;
                  height: 32px ;
                  border: 2px solid $colorBrightText ;
                  vertical-align: middle ;
                }

                & .comment-user-id {
                  @mixin link-color-title ;
                  @mixin font-serif ;
                  display: inline-block ;
                  font-size: 24px ;
                  vertical-align: middle ;
                }
              }

              & .comment-content {
                line-height: $(textLineHeight)em ;
              }
            }
          }
          & .leave-comment-title {
            @mixin link-color-item ;
          }
        }
      }
    }

    & .pager {
      position: relative ;
      margin: calc($(baseSize)rem * 2) 0 ;
      height: 5rem ; 
      max-width: $(columnSizeMain)rem ;

      &::before, &::after {
        @mixin border-gradient ;
        position: absolute ;
        content: '' ;
        width: 100% ;
      }

      &::before {
        top: 1rem ;
      }

      &::after {
        bottom: 1rem ;
      }

      & .pager-prev,
      & .pager-next {
        position: absolute ;
        top: 2rem ;
        display: block ;
        width: 50% ;

        & a {
          @mixin link-color-item ;
        }
      }

      & .pager-prev {
        left:  0 ;
        text-align: left ;
      }

      & .pager-next {
        right: 0 ;
        text-align: right ;
      }
    }

    & #box2 {
      position: absolute ;
      top: 0 ;
      right: 0 ;
      max-width: $(columnSizeSub)rem ;

      & .hatena-module {
        & .hatena-module-title {
          @mixin font-serif ;
        }  
      }
  
      & .hatena-module-profile {
        & .hatena-module-title {
          display: none ;
        }

        & .hatena-module-body {
          & .profile-icon-link {
            text-decoration: none ;

            & img {
              border: 4px solid $colorBrightText ;
              border-radius: 64px ;
              vertical-align: middle ;
            }
          }

          & .id {
            & .hatena-id-link {
              margin-left: 0.5rem ;
              @mixin font-serif ;
              @mixin link-color-title ;
              font-size: 2rem ;
              vertical-align: middle ;
            }
          }

          & .profile-description {
            line-height: $(textLineHeight)em;
            letter-spacing: calc( $(baseSizeHalf)rem / -10 ) ;
          }

          & .hatena-follow-button-box {
            display: inline-block ;
            vertical-align: middle ;
          }
        }
      }

      & .hatena-module-search-box {
        margin: $(baseSize)rem 0 ;

        & .hatena-module-title {
          display: none ;
        }

        & .hatena-module-body {
          & .search-form {
            position: relative ;
            border: 1px solid $colorBrightText ;
            border-radius: 2px ;

            &:hover {
              border-color: $colorLinkActive ;
            }

            & input {
              padding: 0.25rem 0.5rem ;
              background-color: transparent ;
              border: none ;
              outline: none ;

              &.search-module-input {
                box-sizing: border-box ;
                width: 100% ;
                padding-right: 3rem ;
              }

              &.search-module-button {
                position: absolute ;
                top: 0 ;
                right: 0 ;
              }
            }
          }
        }
      }

      & .hatena-module-entries-access-ranking {
        & .hatena-module-body {
          & .hatena-urllist {
            padding-left: 0 ;
            & li {
              list-style: none ;
              margin-left: 0.5rem ;
              margin-bottom: 0.5rem ;
              padding: 0.25rem 0.5rem ;
              border-left: 1px solid $colorBrightText ;
              text-align: justify ;

              & a {
                text-decoration: none ;
              }
            }
          }
        }
      }

      & .hatena-module-html {
        & .hatena-module-body {
          & .ads {
            margin: calc($(baseSize)rem * 2) 0 ;
            text-align: center ;
          }
        }
      }
      
      & .hatena-module-archive {
        & .hatena-module-title {
          & a {
            @mixin link-color-title ;
          }
        }

        & .hatena-module-body {
          & .archive-module-button {
            font-size: $(baseSizeHalf)rem ;
            opacity: 1 ;
            color: $colorBrightText ; 
          }

          & a {
            text-decoration: none ;
          }

          & .archive-module-months {
            & li {
              margin-left: calc($(baseSize)rem + 0.5rem) ;
            }
          }
        }
      }

      & .hatena-module-links {
        & .hatena-module-body {
          & .hatena-urllist {
            padding-left: 1.5rem ;
          }
        }
      }
    }
  }
}

.page-index {
  & #content {
    & #content-inner {
      & .entry {
        & .comment-box {
          display: none ;
        }
      }
    }
  }
}

.page-archive {
  & span.highlight {
    border: none ;
    background-color: transparent ;
    background-image: linear-gradient(transparent 30%, $colorHighlight 0%) ;
    margin: 0 ;
    padding: 0 ;
  }


  & .search-result {
    @mixin center-box ;

    & + p {
      @mixin center-box ;
    }

    & .archive-heading {
      @mixin font-serif ;
      max-width: $(columnSizeMain)rem ;
    }

    & .search-result-form {
      border: 1px solid $colorBrightText ;
      border-radius: 0 ;
      max-width: $(columnSizeMain)rem ;
      min-width : $(columnSizeMain)rem ;
      padding: 0.5rem 0.25rem ;
      margin: $(baseSize)rem 0 ;

      &:hover {
        border-color: $colorLinkActive ;
      }

      & input {
        border: none ;
        background-color: transparent ;
        
        &.search-result-input {
          width: 100% ;
          padding-right: 3rem ;
          box-sizing: border-box ; 
        }

        &.search-result-button {
          text-indent: 0px ;
          background: none ;
          width: auto ;
          height: auto ;
          top: 0.5rem ;
          right: 0.25rem ;
        }
      }
    }
  }
    
  & #top-box {
    @mixin center-box ;
    margin-top: $(baseSize)rem ;
    margin-bottom: $(baseSize)rem ;

    & .breadcrumb {
      max-width: $(columnSizeMain)rem ;

      & a {
        @mixin link-color-item ;
      }

      & .breadcrumb-gt {
        color: transparent ;

        &::after {
          display: inline ;
          margin: 0 -0.25rem 0 -1.5rem ;
          content: '|ω・)っ' ;
          color: $colorBrightText ;
          font-size: $(baseSizeHalf)rem ;
        }
      }
    }
  }

  & .archive-entry {
    max-width: $(columnSizeMain)rem ;
    margin-bottom: 2rem ;

    & .archive-entry-header {
      & .date {
        margin-bottom: -2.6rem ;
        margin-left: -8rem ;

        & a {
          @mixin link-color-date ;
          display: inline-block ;
        }
      }

      & .entry-title {
        margin: 0 0 1rem 0 ;
        letter-spacing: calc( $(baseSizeHalf)rem / -10 ) ;

        & a {
          @mixin font-serif ;
          @mixin link-color-title ; 
        }

        &::after {
          @mixin border-gradient ;
          content: '' ;
          margin : 1rem 0 ;
        }
      }

    }
    & .categories {
      text-align: right ;

      & a {
        @mixin link-color-item ;
        font-size: 90% ;
        line-height: 1em ;
      }
    }

    & .entry-description {
      line-height: $(textLineHeight)em ;
      text-align: justify ;
    }
  }
}
@media (max-width: 76rem ) {
  #blog-title {
    & #blog-title-inner {
      @mixin center-box ; 
      max-width: $(columnSizeMain)rem ;
    } 
  }

  #content {
    & #content-inner {

      & .search-result + p {
        max-width: $(columnSizeMain)rem ;
      }

      & .search-result,
      & .archive-entries {
        max-width: $(columnSizeMain)rem ;
        margin-left: auto ;
        margin-right: auto ;
      }

      & .archive-entries {
        & .archive-entry {
          & .archive-entry-header {
            & .date {
              margin: $(baseSize)rem auto ;
              text-align: center ;
            }
          }
        }
      }

      & .entry {
        margin-left: auto ;
        margin-right: auto ;
        & .entry-header {
          & .entry-date {
            margin: calc($(baseSize)rem * 2) 0  ;
            text-align: center ;
          }
        }
      }

      & .pager {
        margin-left: auto ;
        margin-right: auto ;
      }

      & #box2 {
        position: static ;
        margin: calc($(baseSize)rem * 2) auto ;
        max-width: $(columnSizeMain)rem ;

        & .hatena-module-category {
          & .hatena-urllist {
            & li {
              display: inline-block ;
            
              &::before {
                display: none !important; 
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 35.5rem) {
  #blog-title {
    & #blog-title-inner {
      & #title,
      & #blog-description {
        display: block ;
        text-align: center ;
      }

      & #blog-description {
        font-size: 80% ;
      }
    }
  }

  #content {
    & #content-inner {
      & .search-result {
        margin: 0 $(baseSize)rem ;

        & .search-result-form {
          max-width: auto ;
          min-width: 100% ;
        }
      }
  
      & .entry {
        margin: 0 $(baseSize)rem ;

        & .entry-title {
          font-size: $(baseSize)rem ;
        }

        & .entry-categories {
          text-align: center ;

          & a {
            display: inline-block ;
          }
        }

        & .entry-content {
          & h1 { font-size: $(baseSize)rem ; }
          & h2 { font-size: 1.0707rem ; }
          & h3 { font-size: 1rem ; }
          & h4 { font-size: 0.9293rem ; }
          & h5 { font-size: 0.8565rem ; }
          & h6 { font-size: $(baseSizeHalf)rem ; }

          & ul {
            padding-left: 1rem ;
          }
        }

        & .entry-footer {
          & .entry-footer-html {

            margin : $(baseSize)rem 0 ; 

            & .ads {
              width: 100% ;
              height: auto ;
              margin-bottom: $(baseSize)rem ;
            }

            & .buttons {
              padding: 0 ;
            }
          }
        }
      }

      & .pager {
        height: 7rem ;

        & .pager-prev,
        & .pager-next {
          width: 100% ;
          font-size: 80% ;
          text-align: center ;
        }

        & .pager-next {
          top: auto ;
          bottom: 2rem ;
          right: 0 ;
        }
      }

      & #box2 {
        margin: 0 $(baseSize)rem ;

        & .hatena-module-category {
          & .hatena-module-body {
            text-align: center ;
          }
        }
      }
    }
  }

  .page-archive {
    & #top-box {
      text-align: center ;
    }

    #content {
      & #content-inner {
        & .archive-entry {
          margin: 0 $(baseSize)rem ;

          & .entry-title {
            font-size: $(baseSize)rem ;
          }

          & .categories {
            text-align: center ;

            & a {
              display: inline-block ;   
            }
          }

          & .archive-entry-body {
            margin-bottom: 2rem ;
          }
        }
      }
    }
  }
}
